<h1>ようこそ</h1>
<%= link_to "home", root_path %>
<%= link_to "about", about_path %>
<%= link_to "ランキング", contributors_path %>

<%= link_to "寄付する方はこちら", c_top_path %>
<%= link_to "寄付必要な方はこちら", r_top_path %>